*{
  margin: 0;padding: 0;box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  overflow: hidden;
}
#canvas{
  background: #ddd;
}
.actions{
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5px;
  background: #eee;
}
.actions label{
  padding: 4px 6px;
}
